@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  background-color: #10161E;
  background-image: url("../images/binary-bg-lg.png");
  background-size: auto;
  color: #1da1f2;
  text-align: center;
  font-size: 8px;
}

footer {
  position: absolute;
  bottom: 0;
}

header {
  background: #1B2A38;
  margin-bottom: 2rem;
  border-bottom: 0.2rem solid #1da1f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}



header ul {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

header li {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 1rem 1rem;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.5rem;
  color: #efefef;
  text-decoration: none;
}

header h1 {
  display: none;
}

header h1,
header li {
  transition: transform 0.2s ease-in;
}

header h1:hover {
  transform: scale(1.05, 1.05);
}

header li:hover {
  transform: scale(1.3, 1.3);
}

header h1 a {
  font-family: 'Ubuntu Mono', monospace;
  color: #efefef;
  letter-spacing: 1px;
  text-decoration: none;
  
}

header a {
  height: 100%;
  text-decoration: none;
}

main {
  margin: 0 auto;
  max-width: 95%;
  padding: 0px 1rem 1.45rem;
  padding-top: 5rem;
}

.avatar-image {
  max-width: 100px;
  max-height: 100px;
  margin: 1rem auto;
  border-radius: 50%;
}

p,
li,
h4 {
  color: #8899a6;
  letter-spacing: 1px;
  padding: 1rem;
}

p {
  font-size: 3rem;
}

li{
  list-style: none;
  font-size: 1.8rem;
}

h2 {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 3rem;
  margin: 2rem 0;
}

h3,
h4 {
  font-size: 2rem;
  margin: 1rem;
}

h3 {
  margin-bottom: 3rem;
}

.technologies {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 3rem;
  justify-content: space-around;
  align-items: space-around;
  margin-bottom: 3rem;
}

.languages,
.tools {
  margin: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.technologies img {
  transition: transform 0.1s ease-in;
}

.technologies img:hover,
.project img:hover {
  transform: scale(1.3, 1.3);
}

.work {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2rem;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.project {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.project img {
  max-height: 200px;
  border: solid 3px #1da1f2;
  border-radius: 2px;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.project-links {
  display: flex;
  justify-content: space-around;
}

.project-links a {
  padding: 1rem;
}

.project-links span {
  color: #efefef;
  font-size: 3rem;
  font-family: 'Ubuntu Mono', monospace;
}

.contact-form form {
  margin-top: 3rem;
}

.contact-form input,
.contact-form textarea {
  background-color: #1b2a38;
  border: none;
  border-radius: 0.4rem;
  color: #efefef;
  padding: 1rem;
}
.contact-form input {
  height: 5rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
}

.contact-form textarea {
  width: 100%;
  min-height: 30rem;
  font-size: 2.5rem;
}

.contact-form button {
  padding: 2rem 4rem;
  background-color:#1da1f2;
  border: none;
  border-radius: 0.4rem;
  color: #1B2A38;
  font-weight: bold;
  font-size: 3rem;
  font-family: 'Ubuntu Mono', monospace;
}

.warning {
  font-size: 1.5rem;
  color: crimson;
  letter-spacing: 0.2rem;
}

@media (min-width: 1150px) {

  html,
  body {
    font-size: 16px;
  }



  header h1 {
    display: inherit;
    padding: 1rem;
  }

  header ul {
    justify-content: flex-end;
  }

  main {
    max-width: 80%;
  }

  .avatar-image {
    max-width: 300px;
    max-height: 300px;
  }

  p {
    font-size: 2rem;
  }

  .technologies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 3rem;
    justify-content: space-around;
    align-items: space-around;
    margin-bottom: 3rem;
  }

  .work {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }

  .work li {
    text-align: start;
    list-style-type: initial;
  }

  .projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .project-links span {
    font-size: 2rem;
  }

  .contact-form input,
  .contact-form textarea {
    width: 80%;
  }
  
}